<a class="block list-card" ng-href="{{ listing.url }}"
  target="{{ target }}"
  rel="{{ !follow ? 'nofollow' : '' }}" ng-class="{ 'deactivated': listing.removed }">
  <div ng-if="listing.removed" class="fav-deactivated-notice">
    <span>
      Favourite Deleted
    </span>
  </div>
  <div class="item-photos no-slick">
    <div class="container">
      <div class="photo">
        <img ng-src="{{ listing.images[0]['medium'] }}"
          ng-srcset="{{ listing.images[0]['small'] }} 400w, {{ listing.images[0]['medium'] }} 600w, {{ listing.images[0]['large'] }} 800w"
          sizes="(max-width: 640px) 85vw, (max-width: 1239px) 46vw, 470px"
          title="" onerror="this.style.display='none'" onmousedown="if (event.preventDefault) event.preventDefault()">
      </div>
      <div class="overlay badges-container">
        <div class="top-left badge dom-badge" id="overlay-dom" ng-if="listing.dom">
          {{ listing.dom | number }} {{ listing.dom !== 1 ? 'Days' : 'Day' }} Old
        </div>
        <div class="bottom-left" id="overlay-summary">
          <div id="overlay-price" class="badge price-badge">
            <span class="price"><sup>$</sup>{{ listing.price | number }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="foot-note with-fav-links">
    <div class="foot-note-info">
      <div class="foot-note-row foot-note-details">
        <span><strong>{{ listing.num_beds }}</strong> Bed</span>
        <span><strong>{{ listing.num_baths }}</strong> Bath</span>
        <span ng-if="listing.sqft && listing.sqft != ''"><strong>{{ listing.sqft }}</strong> Sq. Ft.</span>
      </div>
      <div class="foot-note-row foot-note-address">
        <span ng-if="listing.addr_full">{{ listing.addr_full }},</span>
        <span ng-if="listing.Hood.name"> {{ listing.Hood.name }},</span>
        {{ listing.City.name }}
      </div>
    </div>
    <div class="row collapse foot-note-links">
      <div class="small-12 medium-6 columns link view-fav">
        <div class="button">
          <span>View Favourite</span>
        </div>
      </div>
      <div class="small-12 medium-6 columns link delete-fav">
        <div class="button delete form-loading-spinner" ng-click="deleteFavorite($event, listing)" ng-class="{ loading: listing.removing }">
          <span ng-hide="listing.removing">Delete Favourite</span>
          <span ng-show="listing.removing">Deleting</span>
          <img src="/assets/graphics/ajax-loader.png" alt="" class="loading-spinner" ng-class="{ hidden: !listing.removing }">
        </div>
      </div>
    </div>
    <div class="profile-icon-container">
        <img src="/assets/graphics/building-icon.svg" alt="Building" class="building-icon" ng-if="listing.PropertyTrpType.name == 'Condo' || listing.PropertyTrpType.name == 'Loft'">
        <img src="/assets/graphics/house-icon.svg" alt="Home" class="house-icon" ng-if="listing.PropertyTrpType.name != 'Condo' && listing.PropertyTrpType.name != 'Loft'">
    </div>
  </div>
</a>